.App {

}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: lightgray;
}

.header-left {
  margin: 0px 10px;
}

.header-right {
  margin: 0px 10px;
}

.header-brand {
  font-weight: bold;
}

a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
}